*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: rgb(6, 6, 6);
    transition: 0.5s;
}
header{
position: absolute;
top: 0;
left: 0;
padding: 20px 100px;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}
header .logo{
    position: relative;
    font-size: 30px;
    text-decoration: none;
    color: rgb(245, 241, 240);
    font-weight: 600;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style-type: none;
}
header ul li a{
    display:inline-block;
    color: rgb(240, 236, 236);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
